body {
    margin: 0;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}
/* INFORMACION DEL MENU */
.logomy {
    width:100% ;
    padding: 55px 55px 0px 55px;
}

.nav {
    position: fixed;
    top: 0;
    width: 350px;
    height: 95vh;
    transform: translatex(-350px);
    background-color: #E8F2F7;
    transition: transform 0.3s;
}

/* MEDIA DEL NAV */
@media screen and (min-width:768px) {
    .nav{
        transform:translateX(-300px);
    }
}
@media screen and (min-width:1024px) {
    .nav{
        transform:translateX(0px);
    }
}

.nav--show {
    transform:translateX(-300px);
}
.nav--show .toggle-menu {
    left: 295px;
    top: 0;
    color: #333;
}
.toggle-menu {
    position: absolute;
    top: 0;
    left: 350px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    padding: 1rem;
    z-index: 100;
}

/*MEDIA DE TOGGLE*/
@media screen and (min-width:768px) {
    .toggle-menu{
        display: none;
    }
}

.main {
    margin-left: 0;
    min-height: 100vh;
    background-image: url(../images/fondo-logo.png);
    text-align: center;
    overflow: hidden;
}

/*MEDIA DEL MAIN*/
@media screen and (min-width:768px) {
    .main{
       margin-left: 50px;
    }
}
@media screen and (min-width:1024px) {
    .main{
       margin-left: 350px;
    }
}

.main-menu {
    padding-left: 0;
    margin-top: 45px;
}
.main-menu--show {
    transform: translateX(260px);
}
.main-menu--show .main-menu__item{
  transform: translateX(-300px);
}
.main-menu--show .main-menu__icon{
    transform: translateX(300px);
    color: #333;
}
.main-menu__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.main-menu__link {
    width: 280px;
    padding: 1rem 3rem;
    border-radius: 0 10px 10px 0;
    background-color: blueviolet;
    color: rgb(247, 255, 240);
    text-decoration: none;
}
.main-menu__icon {
    margin-right: 1.5rem;
}

/*MEDIA DEL MAIN-MENU__ICON*/
@media screen and (min-width:768px) {
    .main-menu__icon{
      transform: translateX(260px);
      color: #333;
    }
}
@media screen and (min-width:1024px) {
    .main-menu__icon{
       transform: translateX(0);
       color:rgb(247, 255, 240) ;
    }
}

/* INFROMACION DEL HEADER*/

.fotomiche {
    width: 100%;
}
.cajaeslogan {
    display: flex;
    align-items: center;
    justify-content: center;
}
.eslogan {
    font-size: 3.5rem;
    font-weight: bold;
    padding-left: 25px;
}


.filosofia {
    height: 250px;
    background-color: #A2629D;
}